<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title>Edit Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>

  <ion-input [(ngModel)]="firstName" placeholder="{{this.displayPlaceHolder(firstName)}}" required value="{{firstName}}">First Name:</ion-input>
  <ion-input [(ngModel)]="lastName" placeholder="{{this.displayPlaceHolder(lastName)}}" required value="{{lastName}}">Last Name:</ion-input>
  <ion-button [routerLink]="['/tab1']" type="submit" (click)="setName(firstName, lastName)">Submit</ion-button>

</ion-grid>
