<ion-header >
  <ion-toolbar>
    <ion-title>
      User Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="ion-padding">
  <ion-text class="ion-text-center">
    <h2><strong>Edit Profile</strong></h2>
  </ion-text>
  <ion-item-group [routerLink]="['/tab6']">
  <ion-row class="ion-justify-content-center" *ngFor="let photo of photoService.photos; index as position">
    <ion-avatar class="ion-align-self-center">
    <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-avatar>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="photoService.photos.length === 0">
    <ion-avatar class="ion-align-self-center">
    <ion-img src="../assets/images/blank-profile-pic.png"></ion-img>
    </ion-avatar>
  </ion-row>
    <ion-text class="ion-text-center">
      <h5>Edit Photo</h5>
    </ion-text>
  </ion-item-group>
  <ion-item-group>
    <ion-item>Name: {{this.name}}</ion-item>
  <ion-item-divider [routerLink]="['/tab2']">
    <ion-icon name="person-outline" size="large" slot="start"></ion-icon>
    <span>Edit Name</span>  
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item-divider>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item>Phone: {{this.phone}}</ion-item>
    <ion-item-divider [routerLink]="['/tab3']">
      <ion-icon name="call-outline" size="large" slot="start"></ion-icon>
      <ion-label>Edit Phone Number</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item-divider>
  </ion-item-group>

  <ion-item-group>
    <ion-item>Email: {{this.email}}</ion-item>
    <ion-item-divider [routerLink]="['/tab4']">
      <ion-icon name="mail-outline" size="large" slot="start"></ion-icon>
      <ion-label>Edit Email</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item-divider>
  </ion-item-group>

  
  <ion-item-group>
    <ion-item>Bio: {{this.bio}}</ion-item>
  <ion-item-divider [routerLink]="['/tab5']">
    <ion-icon name="book-outline" size="large" slot="start"></ion-icon>
    <ion-label>Edit Bio</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item-divider>
  </ion-item-group>
  

</ion-grid>

